.advantage-list {
  display: flex;
  justify-content: space-between;
}
.advantage-list__item + .advantage-list__item {
  margin-left: 30px;
}
.advantage-list__icon {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background: var(--light-backg-color);
  border-radius: 4px;
}
.advantage-item-title {
  @include font(700, 14px, 16px, 0.03em);

  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.advantage-item-text {
  @include font(null, 14px, 24px, 0.03em);
  width: 270px;
}
