// @extend %align-list;
%align-list {
  display: flex;
  align-items: center;
}
// @extend %section;
%section {
  padding-top: 94px;
  padding-bottom: 94px;
}
// @extend %container;
%container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
// @extend %list;
%list {
  list-style: none;
}
